In [1]:
import pandas as pd

In [2]:
A = [1,2,3,4,5,6,7,8,9,10,11]
B = [10,12,11,13,14,15,18]
C = [10.2,13.5,16.8,8.9,7.2,1.7]

In [6]:
sum_of_all = A + B + C
c_names = (["A"]*len(A)) + (["B"]*len(B))   + (["C"]*len(C))

In [7]:
df = pd.DataFrame({"c_name": c_names, "score": sum_of_all})

In [8]:
df

   c_name  score
0       A    1.0
1       A    2.0
2       A    3.0
3       A    4.0
4       A    5.0
5       A    6.0
6       A    7.0
7       A    8.0
8       A    9.0
9       A   10.0
10      A   11.0
11      B   10.0
12      B   12.0
13      B   11.0
14      B   13.0
15      B   14.0
16      B   15.0
17      B   18.0
18      C   10.2
19      C   13.5
20      C   16.8
21      C    8.9
22      C    7.2
23      C    1.7

In [9]:
df.groupby("c_name").mean()

            score
c_name
A        6.000000
B       13.285714
C        9.716667

In [12]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.13.1)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: patsy>=0.5.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pandas>=0.25 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.3.5)
Requirement already satisfied: scipy>=1.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [13]:
# ANOOVA using Statsmodel

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [14]:
model_import = ols('score ~ c_name', data =df).fit()
table = sm.stats.anova_lm(model_import)
print(table)

            df      sum_sq     mean_sq         F    PR(>F)
c_name     2.0  230.582679  115.291339  8.365503  0.002128
Residual  21.0  289.416905   13.781757       NaN       NaN